# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dev/src

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# Webstorm
.idea

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Typescript
tsconfig.tsbuildinfo

# turbo
.turbo

# Builds
/dist
/calendarSystems
/calendarUtils
/index.d.ts
/*.min.js

# Linting
lint-results

# Submodules
.gitmodules

# Yarn Modern
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
